.about-container {
    background: black;
    color: white;
    background-image: url(../assets/face-pic.jpg);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 0px 1rem;
}
.text {
    height: 50%;
    gap: 1.5rem;
    width: 30%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}
.heading {
    font-size: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 5px solid blue;
    padding-bottom: 0px;
    width: fit-content;
}
.long-text {
    margin-top: 3%;
    font-size: 1rem;
    width: fit-content;
}
.bottom-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    text-align: left;
    padding: 10px;
    border-left: 2px solid blue;
    width: fit-content;
}
@media (max-width: 960px) {
    .about-container {
        flex-direction: column-reverse;
        
    }
    .text {
        width: 100%;
        text-align: center;
    }
    .heading {
        margin-top: 22%;
        margin-inline: auto;
    }
}