.nav-web {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: transparent;
    background-attachment: fixed;
    background: linear-gradient(60deg,  rgba(0, 0, 41, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5),  rgba(0, 0, 41, 0.5));
    padding: 1.5rem;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}
.bars-null {
    display: none;
}

/*.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
    font-family: 'Courier New', Courier, monospace;
}*/
.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    font-family: 'Courier New', Courier, monospace;
}
.link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.95);
    transition: all 0.5s;
    font-size: 1rem;
}
.link:hover {
    color: rgba(61, 61, 254, 0.95);
    border-bottom: 1px solid white;
}
.contact {
    display: inline;
    font-family: 'Courier New', Courier, monospace;
}
.no-contact {
    display: none;
}
@media (max-width: 960px) {
    .bars {
        margin-left: 90%;
    }
    .nav-web {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: linear-gradient(60deg,  rgba(0, 0, 41, 0.9), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9),  rgba(0, 0, 41, 0.9));
    }
    .links {
        display: none;
        flex-direction: column;
        height: 88vh;
        margin: 0px;
        width: 100%;
    }
    .contact {
        width: 100%;
    }
    .links-unseen {
        display: flex;
    }
    .contact {
        display: none;
    }
}