.portfolio-container {
    background: black;
    color: white;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}
.portfolio-container .heading {
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
}
.port {
    width: 80%;
    height: 60%;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    background: rgb(31, 31, 31);
    border: 1px solid white;
    border-radius: 20px;
    transform: rotateY(0deg);
    opacity: 0.6;
    transition: all 1.5s;
}
.list-item:hover {
    transform: rotateY(360deg);
     background: rgb(18, 18, 18);
     opacity: 1;
    scale: 1.1;

}
.list-item img {
    height: 80%;
    width: auto;
    object-fit: cover;
    border-radius: 20px;
}
.list-item p {
    margin-left: 1rem;
    margin-top: 1rem;
}
@media (max-width: 960px) {
    .portfolio-container {
        height: 100%;
        padding-bottom: 7rem;
    }
    .port {
        flex-direction: column;
        padding-top: 10%;
        gap: 5rem;
    }
    .list-item {
        width: 90%;
    }
}