.profile-container {
    color: white;
    background-color: rgba(0, 0, 0, 0.95);
    background-image: url(../assets/Resume-two-bg.jpg);    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;

}
.text-side {
    margin-left: 10%;
    margin-top: 10%;
    height: 30%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: all 0.5s;
}
.text-side h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 255, 0.609);
    font-size: 7rem;
    opacity: 0.85;
      
}
.text-side:hover {
    scale: 1.1;
}
.f-name {
    font-weight: 100;
    letter-spacing: 1.5rem;
}
.l-name {
    font-weight: 500;
}
.c-phrase {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    font-size: 1rem;
    letter-spacing: 0.5rem;
}
.btns {
    display: flex;
    justify-content: space-between;
    gap: 7rem;
    align-items: center;
    padding: 1rem 0.5rem;
}
.btns button {
    padding: 1rem 4rem;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    background: transparent;
    color: rgba(255, 255, 255, 0.95);
    border: 1px solid white;
    border-radius: 30px;
    transition: all 0.5s;
}
.btns button:hover {
    background: white;
    color: black;
    border: 0px;
}
@media (max-width: 960px) {
    .profile-container {
        align-items: start;
        justify-content: center;
    }
    .text-side {
        margin-left: 0px;
        margin-top: 40%;
    }
    .text-side h1 {
        font-size: 5rem;
    }
    .btns {
        gap: 4.5rem;
    }
    .btns button {
        padding: 0.5rem 2rem;
    }
}
